{{define "itemsLayout"}}
<section class="section is-medium mb-0 pb-0">
    <div class="container">

    {{range .Items}}
    <article class="media ss2s-item box {{ if .Featured}}featured{{end}}">
        {{ if .Image }}
        <figure class="media-left">
            <p class="image is-128x128">
                
                <a href="{{ .Link}}" target="_blank">
                    {{ if startsWith .Image "http"}}
                        <img src="{{ .Image}}" alt="{{ .Name }}">
                    {{ else }}
                        <img src="media/{{ .Image}}" alt="{{ .Name }}">
                    {{ end }}
                </a>
            </p>
        </figure>
        {{ end }}
        <div class="media-content">
            <div class="content">
                
                <h2 class="title is-4">
                    <a href="{{ .Link}}" target="_blank">{{ .Name }}</a>
                </h2>
                <p>{{ .ShortDescription }}</p>
                <div class="tags is-pulled-right">
                    {{range .Categories }}
                    <span class="tag">{{.}}</span>
                    {{ end }}
                </div>
            </div>
        </div>

    </article>
   {{ end }}
   {{ if .Meta.CtaLink }}
        <div class="mt-6 mb-6 has-text-centered">
            <p><a class="mt-6 button is-large" href="{{ .Meta.CtaLink }}">{{ .Meta.CtaButton }}</a></p>
        </div>
   {{ end }}
    </div>
</section>

{{end}}
{{template "default_base.html" .}}